@import url(composant/ac.css);
@import url(composant/dev.css);
@import url(composant/an.css);
body{
    color: rgb(75, 54, 74);
    background-image: url(../images/fondfleur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex; justify-content: center;
    margin-left: 0%;
    
}
.catégorie{
    font-family: monospace;
    font-size: 120%;
    display: flex; justify-content: space-around; 

}
.IIM{
    width: 20%;
    margin-left: -2%;
    font-size: 0%;
}


header{
    animation: slideNight 15s infinite;
}
@keyframes slideNight{
    from{
        transform: translate(0%);
        background: rgb(189, 145, 166);
    }
    30%{
        transform: translate(10%);
    }
    80%{
        transform: translate(-10%);
        background: rgb(218, 143, 162);
        color: rgb(94, 65, 89);
    }
    to{
        transform: translate(0%);
    }
}